/*
    400 - regular
    500 - medium
    600 - Semi-bold
    700 - bold
*/
@font-face {
    font-family: "Quicksand regular";
    src: url("fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "Quicksand medium"; 
    src: url("fonts/Quicksand-Medium.ttf"); 
}
@font-face {
    font-family: "Quicksand light";
    src: url("fonts/Quicksand-Light.ttf");
}
@font-face {
    font-family: "Quicksand bold";
    src: url("fonts/Quicksand-Bold.ttf");
}   
.font-regular{ font-family: "Quicksand regular" }
.font-medium{ font-family: "Quicksand medium" }
.font-light{ font-family: "Quicksand light" }
.font-bold{ font-family: "Quicksand bold" }
*{
    margin: 0;
    padding: 0;
    font-family:'Quicksand', sans-serif;
    font-weight: 400;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}
li{
    list-style: none;
}
/* header */
.header__background{
    background: url('img/header.png') no-repeat;
    height: 1030px;
}
@media screen and (min-width:2560px){
    .header__background{
        width:2560px !important;
        background-size: 100%;
    }
}
header{
    width:100%;
    display:flex;
}
.container-header{
    max-width:1600px;
    width:100%;
    margin:0 auto;
    padding:0 15px;
}
@media screen and (max-width:1700px){
    .container-header{
        max-width:1160px;
    }
}
@media screen and (max-width:1300px){
    .container-header{
        max-width:940px;
    }
}

.header__logo{
    cursor: default;
    width:180px;
    background:rgb(15,123,255);
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.header__logo p{
    font-weight: 700;
    color:#fff;
    font-size:36px;
    padding:20px 22px;
}
ul, li{
    display:block;
}

.menu__item{
    margin-left:42px;
}
.menu__item a{
    font-size:16px;
    color:#929292;
}
.menu__item a:hover{
    color:rgb(15,123,255)
}
.burger{
    display:none;
}
.menu__item_active a{
    color:#0f7bff;
}
.menu-responsive{
    position: relative;
    top:0;
    right:-40px;
    height:auto;
    padding:10px 0px;
    background:rgb(15,123,255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-responsive a{
    display:block !important; 
    color:white;
    font-size:24px;
}
@media screen and (max-width:360px){
    .menu-responsive a{
        display:block !important; 
        color:white;
        font-size:14px;
    }
}
.button{
    padding:9px 42px;
    border-radius: 30px;
    font-weight: 600;
    color:white;
    border:2px solid rgb(15,123,255);
    transition:background-color 0.1s linear, color 0.1s linear;
}
.button:focus{
    outline:none;
}
.button:active{
    border:3px solid rgb(15,123,255);
    padding:8px 41px;
    box-shadow: 0px 0px 10px 0px rgb(15,123,255);
}

.button-blue{
    background:rgb(73, 78, 83);
    letter-spacing:1px;
}
.button-blue:hover{
    background:transparent;
    color:rgb(15,123,255);
}

.button-transparent{
    background:transparent;
    color:rgb(15,123,255);
}
.button-transparent:hover{
    background:rgb(15,123,255);
    color:white;
}

.header__button{
    margin-top:-9px;
    margin-right:-15px;
    background:rgb(0,99,221);
    border:2px solid rgb(0,99,221);
    
}
.header__button:hover{
    background:white;
    color:rgb(0,99,221);
}

@media screen and (max-width:993px){
    .menu a{
        display:none;
        color:rgb(193,193,193)
    }
    .menu button{
        display:none;
    }
    .menu__item {
        padding-top:20px;
    }
    .menu__item_active a{
        color:white !important;
    }
    .burger{
        cursor:pointer;
        display: block;
        font-size:28px;
        margin-right:20px;
        position: absolute;
        right:0px;
        top:0;
    }
    .header__logo{
        margin-left:-15px;
        border-bottom-left-radius: 0;
    }
}

/* header end */

/* home */

.home{
    text-align: center;
    padding-top:90px;
}
.home .home__text{
    color:grey;
    width:60%;
    margin:0 auto;
}
@media screen and (max-width:372px){
    .home__free-download-button{
        width:100%;
        margin-bottom:10px;
    }
    .home__free-trial-button{
        width:100%;
        margin:0 auto;
    }
}

@media screen and (max-width: 800px){
    .home .home__text{
        width:80%
    }
}

.home__mobile-screens{
    margin:30px auto;
    display: flex;
    overflow: hidden;   
}
.home__mobile-screen{
    background-image:url('img/device.png');
    background-position: 0 0;
    background-size:cover;
    position: relative;
}
.home__mobile-big{
    width:400px;
    height: 580px;
    z-index:10
}
.home__mobile-small{
    width:325px;
    margin-top:97px;
}
.home__mobile-left{
    left:115px;
}
.home__mobile-right{
    right:105px;
    z-index:5;
    background-position-x: -15px;
}
.screen_1{
    width:210px;
    position: absolute;
    top:55px;
    left:55px;
    height:100%;
    background:url('img/screen_1.png') no-repeat;
    background-size:100%;
}
.screen_2{
    width:270px;
    position: absolute;
    top:66px;
    left:64px;
    height:100%;
    background:url('img/screen_2.png') no-repeat;
    background-size:100%;
}
.screen_3{
    width:210px;
    position: absolute;
    top:55px;
    left:44px;
    height:100%;
    background:url('img/screen_3.png') no-repeat;
    background-size:100%;
}

.bottom-arrow{
    width:68px;
    height:68px;
    background:white;
    border:2px solid rgb(220,220,220);
    color:rgb(220,220,220);
    font-size:40px;
    border-radius:50%;
    position:absolute;
    top:-34px;
    text-align: center;
    line-height: 48px;
    font-weight: 700;
    cursor:pointer;
    left:calc(50% - 37.5px);
    transition:border 0.1s linear, color 0.1s linear;
}
.bottom-arrow:hover{
    color:rgb(15,123,255);
    border-color:rgb(12,123,255);
    box-shadow: 0px 0px 10px 0px rgb(15,123,255);
}

@media screen and (max-width:1200px){
    .home{
        padding-top:150px;
    }
    .screen_1{
        left:46px;
        top:50px;
    }
    .screen_2{
        width:250px;
        left:57px;
        top:55px;
    }
    .screen_3{
        left:42px;
        top:50px;
    }
    .home__mobile-left{
        left:135px;
    }
    .home__mobile-right{
        right:135px;
        z-index:5;
        background-position-x: 0;
    }
}

@media screen and (max-width:992px){
    .screen_1{
        width:180px;
        left:48px;
    }
    .screen_2{
        width:230px;
        left:47px;
    }
    .screen_3{
        width:180px;
        left:-15px;
    }
    .home__mobile-left{
        left:40px;
    }
    .home__mobile-big{
        padding:0 100px;
        background-position: center;
    }
    .home__mobile-right{
        right:55px;
        z-index:5;
        background-position-x: -70px;
    }
}

@media screen and (max-width:768px){
    .screen_1{
        left:48px;
    }
    .screen_2{
        width:230px;
        left:49px;
        top:52px;
    }
    .screen_3{
        left:-115px;
    }
    .home__mobile-left{
        left:35px;
    }
    .home__mobile-big{
        padding:0 150px;
        background-position: center;
    }
    .home__mobile-right{
        right:47px;
        z-index:5;
        background-position-x: -170px;
    }
}
@media screen and (max-width:530px){
    .screen_3{
        left:-135px;
    }
    .home__mobile-right{
        background-position-x: -190px;
    }
}
@media screen and (max-width:450px){
    .home__mobile-small{
        display:none;
    }
    .home__mobile-big{
        width:230px;
    }
    .screen_2{
        left:35px;
    }
}


/* home end */

/* features */

.features{
    background:rgb(245,252,253);
    z-index:20;
    padding-top:165px;
    padding-bottom: 180px;
    position: relative;
}
.features-container{
    margin:0 auto;
    max-width:1140px;
    width:100%;
}
.cards{
    margin:0px -32px !important;
}
.card-padding{
    padding:0 32px !important;
}
.card{
    padding:42px 28px;
    text-align: center;
    box-shadow: 0px 0px 48px -30px rgba(0,0,0,0.75);
}

.features__title{
    font-size:20px;
}
.icon{
    margin:0 auto;
    width:72px;
    height: 72px;
    border-radius: 50%;
}
.icon img{
    margin:20px;
}

/* features end */

/* features 2 */
.features-2{
    position:relative;
    padding-bottom:285px;
    overflow: hidden;
}
.features-2__img-1{
    position: absolute;
    top:80px;
    right:165px;
}
.features-2__img-2{
    position: absolute;
    top:110px;
    right:35px;
}
.features-2__img-3{
    position: absolute;
    top:110px;
    left:10px;
}
.features-2__img-4{
    position: absolute;
    top:140px;
    right:50px;
}
.features-2_back-1 {
    position: absolute;
    top:0;
    left:0;
    width:600px;
    height:600px;
}
.features-2_back-2 {
    position: absolute;
    top:575px;
    right:580px;
    width:600px;
    height:600px;
} 
@media screen and (max-width: 1800px){
    .features-2_back-1 { left:-50px }
    .features-2_back-2 { right:530px } 
}
@media screen and (max-width: 1700px){
    .features-2_back-1 { left:-100px }
    .features-2_back-2 { right:480px } 
}
@media screen and (max-width: 1600px){
    .features-2_back-1 { left:-150px }
    .features-2_back-2 { right:430px } 
}
@media screen and (max-width: 1500px){
    .features-2_back-1 { left:-200px }
    .features-2_back-2 { right:380px } 
}
@media screen and (max-width: 1400px){
    .features-2_back-1 { left:-250px }
    .features-2_back-2 { right:330px } 
}
@media screen and (max-width: 1300px){
    .features-2_back-1 { left:-300px }
    .features-2_back-2 { right:280px } 
}
@media screen and (max-width: 1200px){
    .features-2_back-1 { left:-350px }
    .features-2_back-2 { right:230px } 
    .features-2__img-3 { top:70px }
    .features-2__img-4 { right:-40px; top:100px }
}
@media screen and (max-width: 1100px){
    .features-2_back-1 { left:-400px }
    .features-2_back-2 { right:180px } 
}
@media screen and (max-width: 1000px){
    .features-2_back-1 { left:-450px }
    .features-2_back-2 { right:130px } 
    .features-2__img-4 { right:-80px }
}
@media screen and (max-width: 900px){
    .features-2_back-1 { left:-500px }
    .features-2_back-2 { right:80px } 
    .features-2__img-4 { right:-120px }
}
@media screen and (max-width: 800px){
    .features-2_back-1 { left:-550px }
    .features-2_back-2 { right:30px } 
}

.features-2__text{
    margin-top:235px;
}

@media screen and (max-width:767px){
    .features-2__text{
        margin-top:185px;
    }
    .features-2__text-2{
        margin-top:355px;
        padding-bottom:-60px;
    }
    .features-2__text p{
        color:black !important;
        font-weight:600;
        font-size:17px;
    }
    .features-2__text a{
        color:red;
    }
    .features-2_back-1 { left:-350px }
    .features-2_back-2 { left:-100px; top:660px; } 
}
 


/* features 2 end */

/* how work */

.how-work{
    text-align: center;
    padding-bottom: 125px;
    padding-top:160px;
    background:rgb(245,252,253) !important;
    position:relative;
}
.how-work__title{
    font-size:20px;
}
.how-work__subtitle{
    margin:0 auto;
    width:60%;
}
.n-fone-1{
    background:url("img/n_fone_1.png") no-repeat;
    width:70px;
    height:70px;
    margin:-55px auto;
}
.n-fone-2{
    background:url("img/n_fone_2.png") no-repeat;
    width:70px;
    height:70px;
    margin-left:40px;
}

.how-work__square_white{
    width:72px;
    height: 72px;
    background:rgb(245,252,253);
    margin:0 auto;
}
.how-work__line_blue{
    top:36px;
    z-index:0;
    border-bottom:2px dotted rgb(15,123,255,0.4)
}

/* how work end */

/* pricing */
.pricing{
    padding-top:132px;
    padding-bottom: 132px;
}
.pricing__actions{
    width:100%;
    display:flex;
    justify-content:center;
}
.pricing__button{
    color:rgb(15,123,255);
    background:white;
}
.pricing__button_left{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    width:100% !important;
}
.pricing__button_right{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    width:100% !important;
}
.pricing__button_active{
    background:rgb(15,123,255);
    color:white !important;
}
.circle{
    width:52px;
    height:52px;
    border-radius:50%;
    margin:0 auto;
    background:rgb(15,123,255,0.2);
    position:absolute;
    top:10px;
    left:10px;
}
.pricing__card{
    box-shadow: 0px 0px 48px -30px rgba(0,0,0,0.75);
    text-align: center;
    padding:40px 50px;
}
.pricing__card_header{
    position: relative;
}
.pricing__card_header::after{
    content: "";
    position: absolute;
    width:100%;
    top:50px;
    left:0px;
    border:1px solid rgb(195,190,185,0.5);
}
.price{
    color:rgb(15,123,255);
    font-weight: 700;
    font-size:32px
}
.dollar{
    font-size:16px;
    color:rgb(15,123,255);
    font-weight:600;
}
/* pricing end */

/* trusted */
.trusted {
    background :rgb(245,252,253);
    overflow: hidden;
}
.trusted__card{
    background:white;
    padding:20px 10px;
    min-width:210px;
    border-radius:8px;
    box-shadow: 0px 0px 48px -30px rgba(0,0,0,0.75);
}
.trusted__cards-padding{
    margin-left:50px;
}
.trusted__subtitle{
    font-size:15px;
}
.trusted__cards-padding:first-child{
    margin-left:0;
}
@media screen and (max-width:1100px){
    .trusted__cards-padding:first-child{
        margin-left:-40px;
    }
}
.trusted__header{
    display:flex;
    justify-content: space-between;
}
.trusted__img{
    background: url("img/left_img.png") no-repeat;
    background-size:100% 100%;
}
.trusted__cards{
    margin-top:100px;
}
.trusted__img_block{
    height:500px;
}
.paginator-button{
    height:10px;
    padding:0 10px;
    border:none;
    border-radius:5px;
    background:rgb(212,212,212);
    transition:padding 0.15s linear;
}
.paginator-button:focus{
    outline:none;
}
.paginator-button__active{
    padding:0 16px; 
    background:rgb(15,123,255)
}

@media screen and (max-width:991px) {
    .trusted__img_back{
        background: url("img/left_img.png") no-repeat;
        background-size:90% 100%;
    }
    .trusted__cards-padding{
        margin-left:-40px;
    }
}

/* trusted end */

/* news */
.news{
    padding-top:150px;
    padding-bottom:130px;
}
.news__card{
    transition: transform 0.2s linear;
}
.news__card:hover{
    transform: scale(1.05);
}
.news__img{
    width:100%;
    height:100%;
    min-height:100px;
    background-size:cover;
}

/* news end */

/* try free */

.try-free{
    background:rgb(245,252,253);
    padding-top:130px;
    padding-bottom:130px;
}
.try-free__button{
    padding: 22px 60px;
    background:rgb(15,123,255);
    border-radius:10px;
    color:white;
    border:none;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    margin-left:90px;
}
@media screen and (max-width:1000px){
    .try-free__button{
        margin-left:0;
    }
}
.button-blue{
    background:rgb(15,123,255);
}
.button-blue:hover{
    background:white;
    color:rgb(15,123,255);
}
.try-free__button:hover{
    background:white;
    border:2px solid rgb(15,123,255);
    padding: 20px 58px;
    color:rgb(15,123,255);
}
.try-free__button:active{
    border:3px solid rgb(15,123,255);
    padding: 19px 57px;
    box-shadow: 0px 0px 10px 0px rgb(15,123,255);
}
.try-free__button:focus{
    outline:none;
}
.try-free__button span{
    font-size:24px
}
/* try free end */

/* footer */

footer{
    padding-top:130px;
    color:white;
    background:rgb(15,123,255);
}
.footer__up{
    padding-bottom:135px;
}
.footer__form{
    width:100%;
    display:flex;
    margin:0 auto;
    justify-content: center;
}
.footer__up_header{
    font-size:36px;
    padding-bottom: 5px;
}
.footer__input{
    border:2px solid white;
    padding:15px 25px;
    max-width:400px;
    width:70%;
    background:rgb(15,123,255);
    color:white;
    border-radius:30px;
    font-size:18px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.footer__input:focus{
    outline:none;
    border:2px solid white;
    background:rgb(0,95,227);
    border-radius:30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.footer__input::placeholder{
    color:white;
}
.footer__button{
    background:white;
    border:none;
    color:rgb(15,123,255);
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 700;
    padding:10px 35px;
    font-size:16px;
    text-transform: uppercase;
}
.footer__button:hover{
    color:white;
    background:rgb(15,123,255);
    border:2px solid white;
    border-radius: 30px;
    padding:8px 34px;
    border-left:none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.footer__button:focus{
    outline:none;
}
.footer__button:active{
    outline:none;
    background:rgb(0,95,227);
}
.footer__error{
    color:rgb(255,70,70);
    font-size:20px;
    margin-top:10px;
    letter-spacing: 1px;
}
.arrow{
    font-size:20px;
}
.footer__links a{
    color:white;
    margin-left:20px;
    white-space:nowrap;
}
.footer__links a:first-child{
    margin-left:0;
}
.footer__links a:hover{
    text-decoration:underline;
}
.footer__copyright{
    padding-top:40px;
    padding-bottom:40px;
    border-top:1px solid white;
    position:relative;
}
.footer__copyright_secondary-text{
    color:rgb(216,216,216)
}
.footer__button_block{
    position:absolute;
    right:150px;
    top:30px;
}
@media screen and (max-width:1600px){
    .footer__button_block{
        right:25px;
    }
}
@media screen and (max-width:1600px){
    .footer__button_block{
        display:none;
    }
}
@media screen and (max-width:991px){
    .footer__button_block{
        display:block;
    }
}
@media screen and (max-width:480px){
    .footer__button_block{
        top:150px;
    }
}
.footer__button_up{
    width:46px;
    height:46px;
    border:none;
    font-size:32px;
    color:rgb(15,123,255);
    font-weight: 700;
    text-align: center;
}
.footer__button_up:hover{
    box-shadow: 0px 0px 10px 0px rgb(30,183,255);
}
.footer__button_up:focus{
    outline:none;
}
.footer__button_up span{
    position:relative;
    top:-5px;
}
/* footer end */