/*
    400 - regular
    500 - medium
    600 - Semi-bold
    700 - bold
*/
*{
    margin: 0;
    padding: 0;
    font-family:'Quicksand', sans-serif;
    font-weight: 400;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}
li{
    list-style: none;
}
/* header */
.header__background{
    background: url('img/header.png') no-repeat;
    height: 1040px;
    background-position: 0 100%;
    background-size:cover;
}
header{
    width:100%;
    display:flex;
}
.header__logo{
    cursor: default;
    width:180px;
    background:rgb(15,123,255);
    text-align: center;
    margin-left:7.3%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.header__logo p{
    font-weight: 700;
    color:#fff;
    font-size:36px;
    padding:20px 22px;
}
ul, li{
    display:block;
}
.menu__item{
    margin-left:40px;
}
.menu__item a{
    font-size:16px;
    color:#929292;
}
.menu__item a:hover{
    color:rgb(15,123,255)
}
.burger{
    display:none;
}
.menu__item_active a{
    color:#0f7bff;
}
.button{
    padding:8px 30px;
    border-radius: 30px;
    font-weight: 600;
    color:white;
    border:2px solid rgb(15,123,255);
    transition:background-color 0.1s linear, color 0.1s linear;
}
.button:focus{
    outline:none;
}
.button:active{
    border:3px solid rgb(15,123,255);
    padding:7px 29px;
    box-shadow: 0px 0px 10px 0px rgb(15,123,255);
}

.button-blue{
    background:rgb(15,123,255);
}
.button-blue:hover{
    background:white;
    color:rgb(15,123,255);
}

.button-transparent{
    background:white;
    color:rgb(15,123,255);
}
.button-transparent:hover{
    background:rgb(15,123,255);
    color:white;
}

.header__button{
    margin-top:-9px;
}
.sign__up_button{
    background:rgb(0,99,221) !important;
    margin-top:-9px;
}
.download__button{
    background:rgb(15,123,255) !important;
}
.free__trial_button{
    border:2px solid rgb(15,123,255) !important;
    color: rgb(15,123,255) !important;
    box-sizing: border-box !important;
}

@media screen and (max-width:993px){
    .menu a{
        display:none;
    }
    .menu button{
        display:none;
    }
    .burger{
        display:block;
        cursor:pointer;
        font-size:28px;
        margin-right:20px;
    }
}

/* header end */

/* home */

.home{
    text-align: center;
    padding-top:110px;
}
.home .home__text{
    color:grey;
    width:60%;
    margin:0 auto;
}
@media screen and (max-width: 800px){
    .home .home__text{
        width:80%
    }
}

.home__mobile-screens{
    margin:85px auto;
    display: flex;
    overflow: hidden;   
}
.home__mobile-screen{
    background-image:url('img/device.png');
    background-position: 0 0;
    background-size:cover;
    width:345px;
    height: 530px;
    position: relative;
    z-index:10
}
.home__mobile-small{
    width:250px;
    height: 450px;
    margin-top:80px;
}
.home__mobile-left{
    left:95px;
}
.home__mobile-right{
    right:95px;
    z-index:5;
}
.screen_1{
    width:173px;
    position: absolute;
    top:40px;
    left:42px;
    height:100%;
    background:url('img/screen_1.png') no-repeat;
    background-size:100%;
}
.screen_2{
    width:232px;
    position: absolute;
    top:55px;
    left:56px;
    height:100%;
    background:url('img/screen_2.png') no-repeat;
    background-size:100%;
}
.screen_3{
    width:173px;
    position: absolute;
    top:40px;
    left:42px;
    height:100%;
    background:url('img/screen_3.png') no-repeat;
    background-size:100%;
}

@media screen and (max-width:992px){
    .screen_1{
        width:163px;
    }
    .screen_2{
        top:43px;
        left:48px;
        width:202px;
    }
    .screen_3{
        width:163px;
    }
    
    .mobile_screen{
        width:415px;
    }
    .mobile_small{
        width:335px;
    }
}

@media screen and (max-width:768px){
    .screen_1{
        width:163px;
    }
    .screen_2{
        top:43px;
        left:48px;
        width:202px;
    }
    .screen_3{
        width:163px;
    }
    
    .mobile_screen{
        width:685px;
    }
    .mobile_small{
        width:535px;
    }
    
}


/* home end */

/* features */

.features{
    background:rgb(245,252,253);
    z-index:20;
    padding-top:165px;
    padding-bottom: 180px;
    position: relative;
}
.card{
    padding:42px 28px;
    text-align: center;
    box-shadow: 0px 0px 48px -30px rgba(0,0,0,0.75);
}
.icon{
    margin:0 auto;
    width:72px;
    height: 72px;
    border-radius: 50%;
}
.icon img{
    margin:20px;
}

/* features end */

/* features 2 */

.features-2_back-1 {
    background:url('img/rect_1.png');
    background-position: -270px 0;
    height: 610px;
}
.features-2_back-2 {
    background:url('img/rect_1.png');
    background-position: 270px 0;
    height: 610px;
    margin-left:-25px !important;
} 
@media screen and (max-width: 1200px){
    .features-2_back-2 {
        background:url('img/rect_1.png');
        background-position: 80px 0;
        height: 610px;
        margin-left:-25px !important;
    } 
}
.features-2__text{
    margin-top:220px;
}

.features-2__img-1{
    position: absolute;
    top:80px;
    right:135px;
}
.features-2__img-2{
    position: absolute;
    top:110px;
    right:15px;
}
.features-2__img-3{
    position: absolute;
    top:80px;
    left:-45px;
}
.features-2__img-4{
    position: absolute;
    top:110px;
    left:105px;
}

@media screen and (max-width:830px){
    .features-2__img-4{
        left:76px;
    }
}

/* features 2 end */

/* how work */

.how-work{
    text-align: center;
    padding-top:160px;
    padding-bottom: 125px;
    background:rgb(245,252,253) !important;
}
.how-work__square_white{
    width:72px;
    height: 72px;
    background:rgb(245,252,253);
    margin:0 auto;
}
.how-work__line_blue{
    top:36px;
    z-index:0;
    border-bottom:2px solid rgb(15,123,255,0.2)
}

/* how work end */

/* pricing */
.pricing{
    padding-top:132px;
    padding-bottom: 132px;
}
.pricing__actions{
    width:100%;
    display:flex;
}
.pricing__button{
    color:rgb(15,123,255);
    background:white;
}
.pricing__button_left{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    width:100% !important;
}
.pricing__button_right{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    width:100% !important;
}
.pricing__button_active{
    background:rgb(15,123,255);
    color:white !important;
}
.pricing__card{
    box-shadow: 0px 0px 48px -30px rgba(0,0,0,0.75);
    text-align: center;
    padding:40px 50px;
}
.pricing__card_header{
    position: relative;
}
.pricing__card_header::after{
    content: "";
    position: absolute;
    width:100%;
    top:50px;
    left:0px;
    border:1px solid rgb(195,190,185,0.5);
}
.price{
    color:rgb(15,123,255);
    font-weight: 700;
    font-size:32px
}
.dollar{
    font-size:16px;
}
/* pricing end */

/* trusted */
.trusted {
    background :rgb(245,252,253);
}
.trusted__card{
    background:white;
    padding:20px 10px;
    min-width:210px;
    border-radius:8px;
    box-shadow: 0px 0px 48px -30px rgba(0,0,0,0.75);
}
.trusted__header{
    display:flex;
    justify-content: space-between;
}
.trusted__img{
    background: url("img/left_img.png") no-repeat;
    background-size:100% 100%;
}
.trusted__cards{
    margin-top:100px;
}
.trusted__img_block{
    height:500px;
}
.paginator-button{
    height:10px;
    padding:0 10px;
    border:none;
    border-radius:5px;
    background:rgb(212,212,212);
    transition:padding 0.15s linear;
}
.paginator-button:focus{
    outline:none;
}
.paginator-button__active{
    padding:0 16px; 
    background:rgb(15,123,255)
}
.trusted__img_back{
    background: none;
    background-size:90% 100%;
}
@media screen and (max-width:991px) {
    .trusted__img_back{
        background: url("img/left_img.png") no-repeat;
        background-size:90% 100%;
    }
}

/* trusted end */

/* news */
.news{
    padding-top:150px;
    padding-bottom:130px;
}
.news__img{
    width:100%;
    height:100%;
    background-size:cover;
}

/* news end */

/* try free */

.try-free{
    background:rgb(245,252,253);
    padding-top:130px;
    padding-bottom:130px;
}
.try-free__button{
    padding: 22px 60px;
    background:rgb(15,123,255);
    border-radius:10px;
    color:white;
    border:none;
    font-weight:600;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
}
.button-blue{
    background:rgb(15,123,255);
}
.button-blue:hover{
    background:white;
    color:rgb(15,123,255);
}
.try-free__button:hover{
    background:white;
    border:2px solid rgb(15,123,255);
    padding: 20px 58px;
    color:rgb(15,123,255);
}
.try-free__button:active{
    border:3px solid rgb(15,123,255);
    padding: 19px 57px;
    box-shadow: 0px 0px 10px 0px rgb(15,123,255);
}
.try-free__button:focus{
    outline:none;
}
.try-free__button span{
    font-size:24px
}
/* try free end */

/* footer */

footer{
    padding-top:130px;
    color:white;
    background:rgb(15,123,255);
}
.footer__up{
    padding-bottom:135px;
}
.footer__form{
    width:100%;
    display:flex;
    margin:0 auto;
    justify-content: center;
}
.footer__input{
    border:2px solid white;
    padding:10px 25px;
    max-width:400px;
    width:70%;
    background:rgb(15,123,255);
    color:white;
    border-radius:30px;
    font-size:16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.footer__input:focus{
    outline:none;
    border:2px solid white;
    background:rgb(0,95,227);
    border-radius:30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.footer__input::placeholder{
    color:white;
}
.footer__button{
    background:white;
    border:none;
    color:rgb(15,123,255);
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 700;
    padding:10px 35px;
    font-size:16px;
    text-transform: uppercase;
}
.footer__button:hover{
    color:white;
    background:rgb(15,123,255);
    border:2px solid white;
    border-radius: 30px;
    padding:8px 34px;
    border-left:none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.footer__button:focus{
    outline:none;
}
.footer__button:active{
    outline:none;
    background:rgb(0,95,227);
}
.footer__error{
    color:red;
    font-size:18px;
    font-weight: 500;
}

.footer__links a{
    color:white;
    margin-left:20px;
}
.footer__copyright{
    padding-top:45px;
    padding-bottom:45px;
    border-top:1px solid white;
}
.footer__button_up{
    width:46px;
    height:46px;
    border:none;
    font-size:32px;
    color:rgb(15,123,255);
    font-weight: 700;
    text-align: center;
}
.footer__button_up:hover{
    box-shadow: 0px 0px 10px 0px rgb(30,183,255);
}
.footer__button_up:focus{
    outline:none;
}
.footer__button_up span{
    position:relative;
    top:-5px;
}
/* footer end */